---
permalink: rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.name }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.description }}</description>
    <language>en</language>
    {% for post in collections.posts %}
      <item>
        <title>{{ post.data.title | escape }}</title>
        <link>{{ post.url | absoluteUrl(site.url) }}</link>
        <guid>{{ post.url | absoluteUrl(site.url) }}</guid>
        <pubDate>{{ post.date | rfcDate }}</pubDate>
        <description>{{ post.data.description | escape }}</description>
      </item>
    {% endfor %}
  </channel>
</rss>
